html
  include partials/head.pug

  body
    h1= showdata.title
    div(class="season")= `Season ${seasonNum.number}`

    table
      tr
        th No.
        th Title
        th Director
      for episode in seasonNum.episodes
        tr
          td(class="number")= episode.number
          td(class="title")= episode.title
          td(class="director")= episode.director
        tr
          td(colspan=3)= episode.synopsis
